@model flightProject.Models.Customers

@{
    ViewData["Title"] = "CustomerDetail";
}

<h1 class="text-center" style=" margin-top: 30px"> <span style="color: darkred;">@ViewBag.uname</span>' Detail</h1>
<hr />
<div style="margin-left: 40%;">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPass)
        </dd>
        
    </dl>
</div>
<div style="margin-top: 20px; margin-left: 45%; margin-bottom: 20px"> 
    <span class="btn btn-primary">
    @Html.ActionLink("Edit", "EditCustomerDetail", new { cid = Model.CustomerId }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
        </span>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
