@model flightProject.Models.VsFlight

@{
    ViewData["Title"] = "FlightDetails";
}

<h1 class="text-center" style=" margin-top: 30px">Flight Details</h1>

    <hr />
<div style="margin-left: 42%;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Src)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Src)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
</div>
<div  style="margin-top: 20px; margin-left: 44%; margin-bottom: 20px">
    <span class="btn btn-primary">
        @Html.ActionLink("Edit", "FlightEdit", new {  fid = Model.FlightId }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
    </span>
    <a asp-action="GetAllFlights">Back to List</a>
</div>
