@model flightProject.Models.bookings

@{
    ViewData["Title"] = "DeleteBooking";
}

<h1 class="text-center" style=" margin-top: 30px">Cancel Ticket</h1>

<h3 class="text-center">Are you sure you want to Cancel this Booking?</h3>
    <hr />
<div style="margin-left: 45%;">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPassengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPassengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
    
    <form style="margin-top: 20px; margin-left: 20px margin-bottom: 20px" asp-action="DeleteBooking">
        <input type="submit" value="Delete" class="btn btn-danger" /> || 
        @Html.ActionLink("Back to List", "AllBookings", "Customer", new {  CustomerId = ViewBag.cid  })
    </form>
</div>
