@model IEnumerable<flightProject.Models.flights>

@{
    ViewData["Title"] = "GetAllFlights";
}

<h1>All Flights</h1>

<p class="btn btn-primary">
    <a style="color: white; text-decoration: none" asp-controller="Flight" asp-action="AddNewFlight">Add New Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Src)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                <span class="btn btn-primary">
                @Html.ActionLink("Edit", "FlightEdit", new {  fid=item.FlightId }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}}) 
                </span>
                <span class="btn btn-primary">
                @Html.ActionLink("Details", "FlightDetails", new { fid=item.FlightId }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
                </span>
                <span class="btn btn-primary">
                @Html.ActionLink("Delete", "FlightDelete", new {  id=item.FlightId }, new Dictionary<string,object> {{"style", "color: white; text-decoration: none;"}})
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
